<!DOCTYPE html>
<html>
	<head>
		<title>Sign In</title>
		<meta charset="utf-8" />
	</head>
	<body>
		<form method="post" action="">
			<div>
				<input type="text" name="username" placeholder="Username" required="required" />
			</div>
			<div>
				<input type="password" name="password" placeholder="Password" required="required" />
			</div>
			<div>
				<input type="checkbox" name="remember" />
				<label>Remember me</label>
			</div>
			<div>
				<input type="submit" value="Sign In"/>
			</div>
		</form>
		Don't have an account? <a href="sign-up.html">Sign Up</a>
	</body>
</html>
